*.pyc
__pycache__
env
/env
env3
/env3
venv
.project
.pydevproject
db.sqlite3

.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

env.env
preeclamsia_db/settings_db.py

articles/data/*

.idea/

downloads
/downloads

.~*
