appdirs==1.4.0
beautifulsoup4==4.5.1
bioservices==1.4.12
colorama==0.3.7
dj-database-url==0.4.1
Django==1.9
django-hstore==1.4.2
easydev==0.9.25
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
gunicorn==19.6.0
lxml==3.6.1
numpy==1.11.1
pandas==0.18.1
pexpect==4.2.0
psycopg2==2.6.2
ptyprocess==0.5.1
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.10.0
requests-cache==0.4.12
six==1.10.0
suds-jurko==0.6
wrapt==1.10.8
xmltodict==0.10.2
