appdirs==1.4.0
beautifulsoup4==4.5.1
bioservices==1.4.12
colorama==0.3.7
Django==1.8
django-hstore==1.4.2
easydev==0.9.25
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
lxml==3.6.1
pexpect==4.2.0
psycopg2==2.6.2
ptyprocess==0.5.1
requests==2.10.0
requests-cache==0.4.12
suds-jurko==0.6
wrapt==1.10.8
xmltodict==0.10.2
