numpy==1.11.1
appdirs==1.4.0
awsebcli==3.7.8
beautifulsoup4==4.5.1
bioservices==1.4.12
blessed==1.9.5
botocore==1.4.56
Bottleneck==1.1.0
cement==2.8.2
chardet==2.3.0
colorama==0.3.7
dj-database-url==0.4.1
Django==1.9
django-autocomplete-light==3.1.8
django-debug-toolbar==1.5
django-devserver==0.8.0
django-grappelli==2.8.1
django-grappelli-autocomplete-fk-edit-link==0.1.1
django-hstore==1.4.2
django-simple-history==1.8.1
django-super-inlines==0.1.4
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
easydev==0.9.25
Genesis-PyAPI==1.2.0
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
gunicorn==19.6.0
jmespath==0.9.0
joblib==0.10.2
line-profiler==1.0
lxml==3.6.1
numpy==1.11.1
pandas==0.18.1
pathspec==0.3.4
pexpect==4.2.0
psycopg2==2.6.2
ptyprocess==0.5.1
pyqtgraph==0.9.10
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.12
requests==2.9.1
requests-cache==0.4.12
scikit-learn==0.17.1
scipy==0.18.0
semantic-version==2.5.0
six==1.10.0
slumber==0.7.1
sqlparse==0.2.1
suds-jurko==0.6
texttable==0.8.4
wcwidth==0.1.7
websocket-client==0.37.0
wrapt==1.10.8
xlrd==1.0.0
xmltodict==0.10.2
