html, body {
   max-width: 100%;
   overflow-x: hidden;
}

.container{
	max-width: 100%;
}


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.rounded-circle {
	border-radius: 50%;
}

/** {
border: 1px solid blue !important;
}
*/
/*div {
color: blue
} */

.behclick-panel  .list-group {
	margin-bottom: 0px;
}
.behclick-panel .list-group-item:first-child {
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
.behclick-panel .list-group-item {
	border-right:0px;
	border-left:0px;
}
.behclick-panel .list-group-item:last-child{
	border-bottom-right-radi
	us:0px;
	border-bottom-left-radius:0px;
}
.behclick-panel .list-group-item {
	padding: 5px;
}
.behclick-panel .panel-heading {
	/* 				padding: 10px 15px;
                    border-bottom: 1px solid transparent; */
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom: 1px solid darkslategrey;
}
.behclick-panel .panel-heading:last-child{
	/* border-bottom: 0px; */
}
.behclick-panel {
	border-radius: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.behclick-panel .radio, .checkbox {
	margin: 0px;
	padding-let: 10px;
}
.behclick-panel .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
	outline: none;
}
.behclick-panel .panel-body > .panel-heading{
	padding:10px 10px;
}
.behclick-panel .panel-body {
	padding: 0px;
}
 /* unvisited link */
.behclick-panel a:link {
    text-decoration:none;
}

/* visited link */
.behclick-panel a:visited {
    text-decoration:none;
}

/* mouse over link */
.behclick-panel a:hover {
    text-decoration:none;
}

/* selected link */
.behclick-panel a:active {
    text-decoration:none;
}